In [52]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import svm
from sklearn.metrics import confusion_matrix #for confusion matrix
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [53]:
df = pd.read_csv('brain_stroke2.csv')

In [46]:
df.loc[df['age']<17, 'work_type']='children'

In [47]:
df.loc[df['age']<17, 'work_type'].value_counts()

children    770
Name: work_type, dtype: int64

enc = LabelEncoder()
df.loc[:,['gender','ever_married','work_type','Residence_type','smoking_status']] = \
df.loc[:,['gender','ever_married','work_type','Residence_type','smoking_status']].apply(enc.fit_transform)
df.head()

df["gender"] = df["gender"].astype(float)
df["hypertension"] = df["hypertension"].astype(float)
df["heart_disease"] = df["heart_disease"].astype(float)
df["ever_married"] = df["ever_married"].astype(float)
df["work_type"] = df["work_type"].astype(float)
df["Residence_type"] = df["Residence_type"].astype(float)
df["smoking_status"] = df["smoking_status"].astype(float)

In [48]:
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1.0,67.0,0.0,1.0,1.0,1.0,1.0,228.69,36.6,1.0,had stroke
1,1.0,80.0,0.0,1.0,1.0,1.0,0.0,105.92,32.5,2.0,had stroke
2,0.0,49.0,0.0,0.0,1.0,1.0,1.0,171.23,34.4,3.0,had stroke
3,0.0,79.0,1.0,0.0,1.0,2.0,0.0,174.12,24.0,2.0,had stroke
4,1.0,81.0,0.0,0.0,1.0,1.0,1.0,186.21,29.0,1.0,had stroke

In [54]:
from imblearn.combine import SMOTEENN
sen = SMOTEENN(random_state = 2)

In [55]:
x= df.drop('stroke', axis = 1)
y = df.stroke
x.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,1.0,67.0,0.0,1.0,1.0,1.0,1.0,228.69,36.6,1.0
1,1.0,80.0,0.0,1.0,1.0,1.0,0.0,105.92,32.5,2.0
2,0.0,49.0,0.0,0.0,1.0,1.0,1.0,171.23,34.4,3.0
3,0.0,79.0,1.0,0.0,1.0,2.0,0.0,174.12,24.0,2.0
4,1.0,81.0,0.0,0.0,1.0,1.0,1.0,186.21,29.0,1.0

In [56]:
x_train_sen, y_train_sen = sen.fit_resample(x,y)
x_train_sen.shape, y_train_sen.shape

((8021, 10), (8021,))

In [57]:
x_train, x_test, y_train, y_test = train_test_split(x_train_sen, y_train_sen, test_size = 0.3, stratify = y_train_sen, random_state = 2)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((5614, 10), (2407, 10), (5614,), (2407,))

In [58]:
classifier = svm.SVC(kernel ='linear')
classifier.fit(x_train, y_train)
predict1 = classifier.predict(x_test)
acc = accuracy_score(y_test, predict1)
acc

0.8529289572081429

In [59]:
inputed_data = (1, 59.0, 1, 0, 1, 1, 0, 92.04, 24.2, 2)
inputed_as_np = np.asarray(inputed_data)
inputed_reshaped = inputed_as_np.reshape(1,-1)

prediction = classifier.predict(inputed_reshaped)

if(prediction[0]==1):
    print('Oh yeah, Definitely had stroke')
else:
    print('Nope!!! This person has not had stroke')

Nope!!! This person has not had stroke

In [69]:
inputed_data = (1, 59.0, 1, 0, 1, 1, 0, 92.04, 24.2, 2)
inputed_as_np = np.asarray(inputed_data)
inputed_reshaped = inputed_as_np.reshape(1,-1)

prediction = classifier.predict(inputed_reshaped)

print(prediction)

['had stroke']

In [31]:
import pickle
filename = 'brain_stroke1.pkl'
pickle.dump(classifier, open(filename, 'wb'))

In [32]:
loadedmodel = pickle.load(open('brain_stroke1.pkl', 'rb'))

In [67]:
inputed_data = (1.0, 59.0, 1.0, 0.0, 1.0, 1.0, 0.0, 92.04, 24.2, 2.0)
inputed_as_np = np.asarray(inputed_data)
inputed_reshaped = inputed_as_np.reshape(1,-1)

prediction = loadedmodel.predict(inputed_reshaped)

print(prediction)

['not had stroke']

In [ ]:
1.0, 70.0, 0.0, 1.0, 1.0, 1.0, 0.0, 239.07, 26.1, 2.0 -yes
1.0, 59.0, 1.0, 0.0, 1.0, 1.0, 0.0, 92.04, 24.2, 2.0 - No

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4981 entries, 0 to 4980
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4981 non-null   int32
 1   age                4981 non-null   float64
 2   hypertension       4981 non-null   int64
 3   heart_disease      4981 non-null   int64
 4   ever_married       4981 non-null   int32
 5   work_type          4981 non-null   int32
 6   Residence_type     4981 non-null   int32
 7   avg_glucose_level  4981 non-null   float64
 8   bmi                4981 non-null   float64
 9   smoking_status     4981 non-null   int32
 10  stroke             4981 non-null   object
dtypes: float64(3), int32(5), int64(2), object(1)
memory usage: 330.9+ KB